@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

html {
    width: 100%;
    min-height: 100%;
    display: flex;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    font-size: 4.5em;
    margin: 0 0 2rem 0;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 4.5em;
    margin-top: 1rem;
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-size: 4rem;
    margin-top: 0.5rem;
    font-family: 'Oswald', sans-serif;
}

h4 {
    font-size: 2.5rem;
    margin-top: 0.5rem;
    font-family: 'Oswald', sans-serif;
}

p {
    font-size: 1.25rem;
}

a {
    color: #000;
    text-decoration: none;
}

p a {
    border-bottom: 1px solid black;
}

a:hover {
    color: grey;
    text-decoration: none;
}

p a:hover {
    border-bottom: 1px solid grey;
}

section {
    min-height: 35vh;
    padding-bottom: 7em;
}

#header {
    height: 100vh;
    flex-grow: 1;
    margin: 0px;
    background-size: cover !important;
    background: linear-gradient(rgba(210, 222, 231, .3) 0%, rgba(8, 79, 123, 0.55) 59%), url('../img/header.png') center center;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    padding-top: 15vh;
    text-align: center;
}

#header h1 {
    font-size: 4.5em;
    margin: 3em 0 2rem 0;
    text-shadow: 5px 5px 16px #000;
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}

@media only screen and (max-width: 600px) {
    #header h1 {
        margin: 1.5em 0 2rem 0;
    }
}

#header .description {
    font-size: 2.5rem;
    margin: 0 3rem;
    text-shadow: 2px 2px 5px #000;
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
}

#header .links {
    margin-top: .25rem;
    margin-bottom: auto;
    text-shadow: 5px 5px 10px #000;
    font-size: 2.25em;
}

@media only screen and (max-width: 600px) {
    #header>.links {
        max-width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
}

#header .links a,
#header .links span {
    color: #fff;
    margin-right: .4rem;
}

#header .links a:hover,
#header .links span:hover {
    color: rgba(233, 239, 243, 0.65);
    border: none;
}

#header .links span:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 600px) {
    section {
        padding-bottom: 4em;
    }

    section h2 {
        margin-top: 1.5em !important;
    }
}

section h2 {
    text-align: center;
    margin: 2em auto 0.75em auto;
}

section h3 {
    text-align: center;
    margin: 2em auto 0.75em auto;
}

section h4 {
    text-align: center;
    margin: 2em auto 0.75em auto;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

section .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

section .gallery a {
    border: 0px;
    max-width: 33%;
    margin: auto;
}

section .gallery img {
    max-width: 33%;
    border-radius: 5px !important;
    flex-grow: 1;
    margin: 5px;
    /* margin: auto; */
}

section .gallery a img {
    max-width: 100%;
}

section:nth-child(even) {
    /* background-color: #D2DEE7; */
    background-color: #E9EFF3;
}

section:nth-child(odd) {
    background-color: #F4F7F9;
}

.second-section-special-background {
    padding-top: 7em;
    background: linear-gradient(rgba(8, 79, 123, 0.55) 0%, #F4F7F9 12%);
}

#contact .links {
    font-size: 4em;
    text-align: center;
}

#contact .links a {
    text-decoration: none;
    padding: 0.75rem 0;
    text-align: center;
    color: black;
    border: none;
}

#contact .links a:hover {
    color: #AFB0B0;
}

ul,
ol {
    margin-left: 2rem;
}

.o-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    margin: 0;
}

.o-nav {
    width: 100%;
    max-width: 50vw;
    padding: 1rem;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .o-nav {
        padding: .25rem;
        max-width: 500px;
    }

    .o-nav__list {
        justify-content: flex-start !important;
    }

    .o-nav__item {
        width: initial !important;
    }
}

.o-nav__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.o-nav__item {
    width: 100%;
    margin-right: 1rem;
}

.o-nav__item:last-child {
    margin-right: 0;
}

.o-nav__item .active {
    background-color: black;
    color: #fff;
}

.o-nav__item .joinus {
    background-color: black;
    color: white;
    /* min-width: 150px; */
    /* border: 1px solid transparent; */
}

.o-nav__link {
    text-decoration: none;
    padding: 0.75rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    border-color: transparent;
    text-align: center;
    display: block;
    color: black;
    transition: 0.2s ease background-color, 0.2s ease color;
}

.dark .o-nav__link {
    color: #fff !important;
}

.o-nav__link:hover,
.o-nav__link--active {
    background-color: black;
    color: #fff;
    text-decoration: none;
}

.joinus:hover {
    color: #000;
    background-color: #dcdcdc;
}

footer {
    text-align: center;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

#cars-header h1 {
    margin-top: 2em;
    font-size: 6.66em;
    text-align: center;
}